<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FOTO PLUS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/root/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">

    <div class="wrapper">
    
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    @Html.ActionLink("Pagina Principal", "Index", "Home", new { @class = "nav-link" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    @Html.ActionLink("Contacto", "Contact", "Home", new { @class = "nav-link" }, new { @class = "nav-link"})
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    @Html.ActionLink("Iniciar Sesion", "Login", "Home", new { @class = "nav-link" }, new { @class = "nav-link", style = "color:blue ;" })
                </li>
            </ul>


            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Buscar" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            
        </nav>

        <aside class="main-sidebar sidebar-light-primary elevation-4">

            <a href="#" class="brand-link">

                <img src="~/root/dist/img/FotoPlusLogo.png"
                     alt="FOTO PLUS"
                     class="brand-image elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">FOTO PLUS</span>
            </a>


            <div class="sidebar">

                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                
                                <i class="nav-icon fas fa-mobile-retro"></i>
                                <p>
                                    Celulares
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Reparaciones</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Dispositivos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Accesorios</p>
                                    </a>
                                </li>
                            </ul>
                        </li> 

                        <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">                            
                            <i class="nav-icon fas fa-solid fa-computer"></i>
                            <p>
                                Computadoras
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Reparaciones</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Dispositivos</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Accesorios</p>
                                </a>
                            </li>
                        </ul>
                    </li>                        
                                             
                </nav>

            </div>

        </aside>
        @RenderBody()
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>FOTO PLUS</b> TAREA 1 GRUPO 2
            </div>
            <strong>Copyright &copy;</strong> DERECHOS RESERVADOS
        </footer>


        <aside class="control-sidebar control-sidebar-dark">

        </aside>

    </div>

    <script src="~/root/plugins/jquery/jquery.min.js"></script>
    <script src="~/root/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/root/dist/js/adminlte.min.js"></script>
</body>
</html>
