<div class="content-wrapper mb-2 mt-5 text-center">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-4 justify-content-center">
                <div class="col-sm-6">
                    <h1 class="display-6">Menu Principal</h1>
                </div>
                <div class="row mb-2 justify-content-center">
                    <div class="col-sm-4">
                        <p class="display-4">Bienvenido a la pagina web de Foto Plus, donde podras adquirir los mejores articulos para tu celular o computadora</p>
                    </div>
                </div>
               </div>
            </div>
    </section>

</div>


