@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="login-box">
    <div class="login-logo">
        <p>FOTO PLUS</p>
    </div>

    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Ingresar</p>

            <form action="" method="post">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Contraseña">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <li class="btn btn-success">@Html.ActionLink("Ingresar", "Index", "Home", new { @class = "text-white" })</li>
                </div>
        </div>
        </form>

        <div>
            <a class="col-4">@Html.ActionLink("registrarse", "registrarse", "Home")</a>
        </div>
    </div>
</div>
</div>